[submodule "thirdparty/conf.h"]
	path = thirdparty/conf.h
	url = https://github.com/hugoocoto/conf
[submodule "thirdparty/flag.h"]
	path = thirdparty/flag.h
	url = https://github.com/hugoocoto/flag.h
[submodule "thirdparty/cum.h"]
	path = thirdparty/cum.h
	url = https://github.com/hugoocoto/cum.h
